.home-page .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: calc(100vh - 80px);
}

.home-page .hero-content {
    max-width: 50%;
}

.home-page .hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.home-page .hero p {
    font-size: 1em;
    line-height: 1.6;
}

.home-page .hero-image {
    max-width: 50%;
}

.home-page .hero-image img {
    width: 100%;
    height: auto;
}
