* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
}

header {
    padding: 20px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a.active {
    color: #4a90e2;
}

.login-btn {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.hero {
    display: flex;
    padding: 50px;
    align-items: center;
    gap: 10px;
}

.hero-content {
    flex: 1;
}

.hero-content h2 {
    color: #4a90e2;
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    margin-bottom: 20px;
}

.hero-content ul {
    list-style-type: none;
}

.hero-content ul li::before {
    content: "✓";
    color: #4a90e2;
    margin-right: 10px;
}

.hero-images {
    flex: 1;
    display: flex;
    gap: 20px;
}

.main-image-container {
    flex: 3;
}

.main-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.secondary-images {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.secondary-image {
    width: 100%;
    height: calc(50% - 10px); /* Setengah tinggi dikurangi setengah gap */
    border-radius: 15px;
    object-fit: cover;
}